language: csharp
solution: StockPrediction.sln
install:
  - nuget restore StockPrediction.sln
  - nuget install NUnit.Runners -Version 3.6.1 -OutputDirectory testrunner
script:
  - xbuild /p:Configuration=Release StockPrediction.sln
  - mono ./testrunner/NUnit.ConsoleRunner.3.6.1/tools/nunit3-console.exe ./StockPredictionUT/bin/Release/StockPredictionUT.dll
  
notifications:
  email:
    recipients:
      - shoa.alon@gmail.com
      - tamirc3@gmail.com
    on_success: always # default: change
    on_failure: always # default: always
